.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 90vh;
  background-color: #fce3fc;
}

@media screen and (max-width: 768px) {
  .home {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90vh;
    background-color: #fce3fc;
  }
}

.home-heading {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 600px;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.head-2 {
  font-family: Poppins;
  font-size: 80px;
  font-weight: 500;
  font-family: 'Roboto';
  font-size: 50px;
}

@media screen and (max-width: 768px) {
  .head-2 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto';
  }
}

.home-image {
  height: 400px;
}

@media screen and (max-width: 768px) {
  .home-image {
    display: none;
  }
}

.sign-up {
  background: #f27a44;
  width: Hug (200px);
  height: Hug (51px);
  padding: 16px 50px 16px;
  border-radius: 30px;
  gap: 16px;
  cursor: pointer;
  color: #ffffff;
  border-width: 0px;
}

.home-para {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
